<h2>Coming Soon!</h2>

<p>We are always adding new items and categories to our store. If you are seeing this page please bare with us.</p>

<h3>Newsletter</h3>
<p>To me notified of new products and new content to the site join our newsletter. By joining not only will we notify you of
not content to our store you will also get first dibs at new items before we lanuch them. As a bonus you will recive discount cupons
exclusively for those that are are on our newsletter list.</p>

<p>What's more we will keep you informed with our blogs about updates in the cannabis inudstry and how it affects you.</p>

<h4>Join our Newsletter - Become part of an exclusive team</h4>
{% include Newsletter.html %}
