  <!-- Page Content -->
  <div class="container" id="main">
    <div class="row">
      <div class="col-md-12 mb-5">
        <h2>What We Do</h2>
        <hr>

        <blockquote class="blockquote">
          <p>At Artisean Healing we believe health and wellness start with the soul and want to offer a holistic approach
          to life's curveballs.</p>

          <p>If you are anything like us then you probably laughed every time you've heard a commercial that says, "may cause
          depression, upset stomach, etc, and or death", or how about, "if you or a loved one has died form [ drug name] then call us now for
          compensation".</p>

          <p> Why should anyone worry about the side affects associated with medicine just to feel better?</p>
          <footer class="blockquote-footer">We don't suggest you stop taking your prescriptions without consulting with your dr. first.</footer>
        </blockquote>
        <hr />
      </div>
    </div>
    <!-- /.row -->

    <div class="card-group mb-5">
      <div class="card">
        <img src="{{site.url}}/assets/images/Health-Wellness.jpg" alt="Health & Wellness" class="img-fluid card-img-top">
        <div class="card-body">
          <h5 class="card-title">Health & Wellness</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <a href="{{site.url}}/store" class="btn btn-danger">Find Out More!</a>
        </div>
      </div>
      <div class="card">
        <img src="{{site.url}}/assets/images/education.jpeg" alt="Education" class="img-fluid card-img-top">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
          <p class="card-text">Learn how you can benifit either finacaly and physicaly from business tutorial to  meditation and
          yoga for the soul. We believe to be healthy you must start from the inside out.</p>
        </div>
        <div class="card-footer">
          <a href="{{site.url}}/education" class="btn btn-danger">Find Out More!</a>
        </div>
      </div>
      <div class="card">
        <img src="{{site.url}}/assets/images/accessories.jpeg" alt="Accessories" class="img-fluid card-img-top">
        <div class="card-body">
          <h5 class="card-title">Accessories</h5>
          <p class="card-text">We offer a wide range of items to help along your path of health and wellness.
          You can find the perfect mug to your favorite yoga mats from jewlery to insents and candles.</p>
        </div>
        <div class="card-footer">
          <a href="{{site.url}}/accessories" class="btn btn-danger">Find Out More!</a>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
