<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{site.title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item {% if page.title == 'Store' %}active{% endif %}"><a class="nav-link" href="{{site.url}}/store">Store {% if page.title == 'Store' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li class="nav-item {% if page.title == 'Blog' %}active{% endif %}"><a class="nav-link" href="{{site.url}}/blog">Blog {% if page.title == 'Blog' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li class="nav-item {% if page.title == 'About' %}active{% endif %}"><a class="nav-link" href="{{site.url}}/about">About {% if page.title == 'About' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <!-- <li class="nav-item {% if page.title == 'Contact' %}active{% endif %}"><a class="nav-link" href="{{site.url}}contact">Contact {% if page.title == 'Contact' %}<span class="sr-only">(current)</span>{% endif %}</a></li> -->
        <li class="nav-item {% if page.title == 'CTFO' %}active{% endif %}"><a class="nav-link" href="https://artesianhealing.myctfo.com/opportunity_ctfo.html" target="_blank">Business Opportunity {% if page.title == 'CTFO' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
      </ul>
    </div>

    <span class="navbar-text">
      <button class="snipcart-customer-signin btn btn-md btn-danger">My account</button>
    </span>
  </div>
</nav>
