<!-- New Tinters -->
{% for product in site.data.cbd-tintures %}
  {% if product.category == "new" %}
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-check-circle text-warning"></i></span><a href="{{site.url}}{{product.url}}">{{product.name}}</a></li>
    </ul>
  {% endif %}
{% endfor %}

<!-- New Pain Relief -->
{% for product in site.data.cbd-pain-relief %}
  {% if product.category == "new" %}
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-check-circle text-warning"></i></span><a href="{{site.url}}{{product.url}}">{{product.name}}</a></li>
    </ul>
  {% endif %}
{% endfor %}

<!-- New Supplements -->
{% for product in site.data.cbd-supplements %}
  {% if product.category == "new" %}
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-check-circle text-warning"></i></span><a href="{{site.url}}{{product.url}}">{{product.name}}</a></li>
    </ul>
  {% endif %}
{% endfor %}

<!-- New Skin & Hair -->
{% for product in site.data.cbd-skin-hair %}
  {% if product.category == "new" %}
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-check-circle text-warning"></i></span><a href="{{site.url}}{{product.url}}">{{product.name}}</a></li>
    </ul>
  {% endif %}
{% endfor %}

<!-- New Pets -->
{% for product in site.data.cbd-pets %}
  {% if product.category == "new" %}
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-check-circle text-warning"></i></span><a href="{{site.url}}{{product.url}}">{{product.name}}</a></li>
    </ul>
  {% endif %}
{% endfor %}
